<div class="container">
    <div class="row">
        <div class="form-container">
          <form class="form" #registerForm = "ngForm" (ngSubmit)="saveUser()" novalidate>

              <!-- {{ registerForm.value | json }}
              <hr>
              {{ user | json }} -->
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input name="user" [(ngModel)]="user.user_name" type="text" class="form-control" id="Name" placeholder="Enter name" required #name="ngModel" [class.is-invalid] ="name.invalid && name.touched">
                </div>
                <div class="form-group">
                    <label for="Address">Address</label>
                    <textarea name="address" [(ngModel)]="user.user_address" class="form-control" id="Address" rows="4" required ></textarea>
                </div>
                <fieldset disabled>
                    <div class="form-group">
                        <label for="disabledTextInput">user type</label>
                        <input name="type" [(ngModel)]="user.user_type" type="text" id="disabledTextInput" class="form-control" >
                    </div>
                </fieldset>    
                <button  type="submit" class="register-btn btn btn-block text-center">Register</button>
                </form>
        </div>
    </div>
</div>
